@font-face {
    font-family: angel rhapsody;
    src: url(Angelrhapsody.ttf)
}

@font-face {
    font-family: Por Siempre Gotica;
    src: url(PorSiempreGótica.ttf)
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Por Siempre Gotica', 'Segoe UI', sans-serif;
}

body{
    background-color: #000;
}

#main{
    background-color: #000;
}

#header{
    width: 100%; 
    display: table; 
}

#headerelements{
    display: table-row;
}

#logo{
    background-color:rgba(128, 0, 128, 0.5);
    width: 100px; 
    display: table-cell;
    text-align: center;
    color: whitesmoke;
    vertical-align: middle;
    font-size: 20px;
}

.titulo {
    color: whitesmoke;
    text-align: center;
    font-family: 'angel rhapsody', 'Segoe UI', sans-serif;
    transition: all .3s ease;
}

.titulo:hover{
    color: purple;
}

#namelink{
    padding: 20px;
    background-color: rgb(27, 27, 27);
    text-align: center;
    font-family: angel rhapsody;
    font-size: 30px;
    vertical-align: middle;
}

#rightside{
    background-color:rgba(128, 0, 128, 0.5);
    width: 80px; 
    display: table-cell;
    color: whitesmoke;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}


#ofthemoon{
    background-color:rgba(128, 0, 128, 0.5);
    width: 80px; 
    display: table-cell;
    text-align: center;
    color: whitesmoke;
    vertical-align: middle;
    font-size: 20px;
}

#parallax{
    display: table-cell;
    vertical-align: middle;
    background-image: url("imgs/MicrosoftTeams-image\ \(1\).png");
    height:700px; 
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 2px solid #3d313c;
    border-bottom: 2px solid #3d313c;
}

#container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    flex-wrap: wrap;
    z-index: 1;
    margin-bottom: 100px;
}

#container #card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

#container #card #content {
    padding: 20px;
    margin-top: 25px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0%;
    transition: 0.5s;

}

#container #card:hover #content {
    transform: translateY(0px);
    opacity: 1;
}


#container #card #content h4 {
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 3cm;
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
}

#container #card h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -120px;
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    font-size: 1cm;
    color: #fff;
    z-index: 1;
}

#container #card #content p {
    font-size: 0.4cm;
    color: #fff;
    font-weight: 300;
}

#container #card #content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#caixadetexto {
    text-align: justify;
    background-color: #000;
    color: #fff;
    text-align: center;
    align-items: center;
    font-size: large;
    margin-right: 120px;
    margin-left: 120px;
    margin: 40px;
    font-size: 24px;
}

#caixadetexto h2{
    line-height: 1em;
    font-size: 48px;
}

#textotexto{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Por Siempre Gotica;
}

#textotexto h1{
    color: #fff;
    margin-right: 120px;
    margin-left: 120px;
}


a {
    text-decoration: none;
}